# Build artifacts
/build/
*.exe
*.out
*.o

# Logs
*.log

# Dependency directories
/vendor/
node_modules/

# Binary files
server

# Temporary files
*.tmp
*.swp

# IDE/editor files
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# databse
database.db
